.vscode/**
.screenshot
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
build/**
test/**
scripts/**
.github/**
.screenshot/**
yarn-error.log
.prettierignore
jest.config.js
jest.setup.js
pnpm-lock.yaml
analyze