name: build

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
  workflow_dispatch:

jobs:
  build:
    name: build test plugin
    runs-on: macos-10.15
    steps:
      - name: Set up Node 1.x
        uses: actions/setup-node@v2.1.3
        with:
          node-version: 12.x

      - name: Check out code into the project's root directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 50

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install project dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn

      - name: Build
        env:
          MINIMUNM_VERSION_REQUIREMENT: ${{ secrets.MINIMUNM_VERSION_REQUIREMENT }}
        run: |
          yarn build
          mv nocalhost-*.vsix nocalhost.vsix

      - name: Push to Coding Artifacts
        if: ${{ github.ref != 'refs/heads/dev' }}
        run: |
          BRANCH=${GITHUB_HEAD_REF:-$(git rev-parse --abbrev-ref HEAD)}
          BRANCH=${BRANCH/\//-}
          curl -T nocalhost.vsix -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/plugins/nocalhost-vscode-plugin.vsix?version=${BRANCH}"

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/dev' }}
        run: |
          curl -T nocalhost.vsix -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/plugins/nocalhost-vscode-plugin.vsix?version=dev"
